
@{
    ViewBag.Title = "Dashboard";
}

<h2>User Dashboard</h2>
<h5>Welcome @ViewBag.Name !</h5>
<br />
<div class="jumbotron text-center">
    <h3>Account Details: </h3>
   
        <p>Email Address: @ViewBag.Email</p>
        <p>Phone Number: @ViewBag.Phone</p>
        <p>Age: @ViewBag.Age</p>

   
</div>

